body {
  font-family: 'Rock Salt', cursive;
  /* background: radial-gradient(#7A86AD, #432F75); */
  background: black;
  font-size: 1.2em;
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  min-height: 50vh;
}

#songList {
  /* color: rgb(188, 227, 236); */
  /* background: rgb(164, 202, 209); */
  color: white;
  text-align: left;
  border: 1px white solid;
  border-radius: 10px;
  padding: 1.5em;
}

li {
  padding: 15px;
}

li:hover, .clickControls:hover{
  cursor: pointer;
}
h4 {
  color: white;
}
#controls {
  color:white;
  border: 1px white solid;
  border-radius: 10px;
  padding: 1.5em;
}

#currentlyPlayingSong, #currentSong {
  color: lightgray;
}

progress {
  width: 80%;
  margin: 10px;
  color: white;
  height:10px;
  -webkit-appearance: none;
}

progress::-webkit-progress-bar {
  background: white;
}
progress::-webkit-progress-bar-value {
  
  background-color: pink;
}